.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
}

.grid-container6 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 5px;
}

.grid-container8 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 5px;
}

.iconStyle {
  width: 100%;
  height: 100%;
}

.winner-screen-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  margin: 2vh;
  width: 100%;
  font-size: 10vh;
}
.winnerscreen-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10vh;
}

.winnerscreen-button {
  padding: 5vh 5vw;
  font-family: "Lato", sans-serif;
  font-size: 4vw;
  border-radius: 3%;
  border: 4px #3c4757;
  background-color: #3c4757;
  background-repeat: round;
  cursor: pointer;
  background-size: cover;
  min-width: 40vw;
  margin: 7vh;
}

.winnerscreen-button:focus {
  outline: none;
}

.quit-reset-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
  height: 10%;
}

.game-button {
  margin-right: 1.5vw;
  padding: 3vh 3vw;
  font-family: "Lato", sans-serif;
  font-size: 3vw;
  background-color: transparent;
  cursor: pointer;
  border: transparent;
}

.authorOfIcons {
  display: flex;
  font-size: 2vh;
  justify-content: flex-end;
  text-align: center;
  margin-bottom: 2vh;
  margin-right: 3vh;
}

.timer {
  display: flex;
  width: 100%;
  font-size: 2vh;
}
