.winner-screen-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 10vh;
}

.winner-header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 6vh;
  width: 100%;
}
.winnerscreen-button-container {
  display: flex;
  width: 100%;
}

.winnerscreen-button {
  padding: 5vh 5vw;
  font-family: "Lato", sans-serif;
  font-size: 4vh;
  border-radius: 3%;
  border: 4px #3c4757;
  background-color: #3c4757;
  background-repeat: round;
  cursor: pointer;
  background-size: cover;
  min-width: 40vw;
  margin-top: -2vh;
  color: white;
}

.winnerscreen-button:focus {
  outline: none;
}
